.Canvas_Background {
    background-color: aliceblue;
}

.Switch_Mode_Button__3D {
    background-color: rgb(152, 236, 204);
    margin-bottom: 10pt;
    border-color: #000000;
    border-radius: 3px;
}

.Switch_Mode_Button__3D:hover {
    background-color: #8adabc;
    margin-bottom: 10pt;
    border-color: #000000;
    border-radius: 3px;
}

.Switch_Mode_Button__2_5D {
    background-color: rgb(256, 92, 164);
    margin-bottom: 10pt;
    border-color: #000000;
    border-radius: 3px;
}

.Switch_Mode_Button__2_5D:hover {
    background-color: #8adabc;
    margin-bottom: 10pt;
    border-color: #000000;
    border-radius: 3px;
}