.App {
  text-align: center;
  font-family: Rebond Grotesque Normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #dbdbdb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(219, 217, 217);
}

.App-link {
  color: #61dafb;
}

.Canvas_Background {
  background-color: aliceblue;
}

.Canvas_Container {
  background-color: rgb(201, 209, 216);
  color: #282c34;
}

.distributionSetting {
  margin-top: 30px;
  color: #000000;
  margin-bottom: 1cm;
}

.distributionSetting__Total__Add__Container {
  display: flex;
  justify-content: center;
  max-height: 70px;
  margin-bottom: 25px;
  font-size: 16px;
}

.distributionSetting__Total__Add__Container__Current_Total {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  background-color: #98eccc; /* Hyper Green */
  color: black;
  border-color: #000000;
  border: 2px solid;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  max-height: fit-content;
}

.Add_Segment_Button {
  background-color: #98eccc; /* Hyper Green */
  color: black;
  border-color: #000000;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.Add_Segment_Button:hover {
  background-color: #8adabc; /* Hyper Green Dark */
  color: black;
  border-color: #000000;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.Add_Segment_Button__Suspended {
  background-color: #98eccc; /* Hyper Green */
  color: black;
  border-color: #000000;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  opacity: 30%;
}

.legend {
  margin-top: 2px;
  display: flex;
}

.legend_colour_pick {
  min-width: 0.5cm;
  min-height: 0.5cm;
  max-width: 0.5cm;
  max-height: 0.5cm;
  margin-bottom: 0.05cm;
  margin-left: 0.05cm;
  margin-right: 0.08cm;
}

.legend_colour_text {
  padding-top: 0.05cm;
  margin-top: 0cm;
  margin-bottom: 0cm;
  font-size: 0.3cm;
  margin-right: 0.08cm;
}

.segment_form {
  margin-right: 10px;
  font-size: 15px;
}

.segment_form__Used {
  margin-right: 10px;
  font-size: 15px;
  pointer-events: none;
  opacity: 30%;
  margin-left: 10px;
}

.segment_form__container {
  display: flex;
  margin-bottom: 20px;
  background-color: #3a76dd;
  border: 2px solid;
  border-color: #000000;
  padding: 20px;
  border-radius: 7px;
}

.segment_form__OUTER__container {
  display: flex;
}

.segment_form__color_Picker {
  max-height: 22px;
  border-color: #000000;
  border-radius: 5px;
  background-color: aliceblue;
}

.segment_form__Delete_Button {
  max-height: 22px;
  margin-right: 5px;
  margin-top: -8.5px;
  margin-left: -17px;
  background-color: #98eccc; /* Hyper Green */
  border-radius: 80%;
  color: black;
  border-color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.segment_form__Delete_Button:hover {
  max-height: 22px;
  margin-right: 5px;
  margin-top: -8.5px;
  margin-left: -17px;
  background-color: #8adabc; /* Hyper Green Dark */
  border-radius: 80%;
  color: black;
  border-color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.segment_form__Delete_Button__Suspended {
  max-height: 22px;
  margin-right: 5px;
  margin-top: -8.5px;
  margin-left: -17px;
  background-color: #98eccc; /* Hyper Green */
  border-radius: 80%;
  color: black;
  border-color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  opacity: 50%;
}

.segment_form__Label {
  color: aliceblue;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.segment_form__Submit {
  margin-left: 10px;
  max-height: 22px;
  background-color: #ff5ca4; /* Hyper Pink */
  border-radius: 3px;
  color: aliceblue;
  border-color: #000000;
  padding: 2px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.segment_form__Submit:hover {
  margin-left: 10px;
  max-height: 22px;
  background-color: #e65194; /* Hyper Pink */
  border-radius: 3px;
  color: aliceblue;
  border-color: #000000;
  padding: 2px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.segment_form__Input {
  margin-right: 10px;
  border-color: #000000;
  border-radius: 3px;
}

.segment_form__Input__USED {
  visibility: hidden;
}

.Switch_Mode_Button__3D {
  background-color: rgb(152, 236, 204);
  margin-bottom: 10pt;
  border-color: #000000;
  border-radius: 3px;
}

.Switch_Mode_Button__3D:hover {
  background-color: #8adabc;
  margin-bottom: 10pt;
  border-color: #000000;
  border-radius: 3px;
}

.Switch_Mode_Button__2_5D {
  background-color: rgb(256, 92, 164);
  margin-bottom: 10pt;
  border-color: #000000;
  border-radius: 3px;
}

.Switch_Mode_Button__2_5D:hover {
  background-color: #8adabc;
  margin-bottom: 10pt;
  border-color: #000000;
  border-radius: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
