.App {
  text-align: center;
  font-family: Rebond Grotesque Normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #dbdbdb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Quit_To_Main_Menu_Button {
  margin-bottom: 10px;
  background-color: #3a76dd;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  border: 2px solid #000000;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.Quit_To_Main_Menu_Button:hover {
  margin-bottom: 10px;
  background-color: #2f5fb1;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  border: 2px solid #000000;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

